body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.button-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    overflow-x: auto;
}

.main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.product-description {
    font-size: 1em;
    margin: 0 0 10px;
    color: #666;
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.product-image img {
    max-width: 100px;
    border-radius: 5px;
}

.topics {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.topics li {
    flex-shrink: 0;
    margin-right: 10px;
    margin-left: 10px;
}

.topics li:last-child {
    padding-right: 10px;
}

.topics button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.topics button:hover {
    background-color: #555;
}

.fixed-footer-button {
    position: fixed;
    bottom: 0;
    right: 10px;
    left: 0;
    right: 0;
    padding: 10px 15px;
    background-color: #e90a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
    font-size: 18px;
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circular-button {
    position: fixed;
    bottom: 70px; /* Ajuste a posição logo acima do botão "Click Me" */
    right: 20px; /* Alinha à direita */
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: none; /* Escondido por padrão */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001; /* Um pouco acima do botão "Click Me" */
    transition: background-color 0.3s ease;
}

.circular-button:hover {
    background-color: #555;
}

.promo-carousel {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slides img {
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
    padding-top: 30px;
    display: none; /* Esconde todas as imagens inicialmente */
}

.slides img.active {
    display: block; /* Exibe apenas a imagem ativa */
}

.dots {
    text-align: center;
    padding: 5px 0; /* Espaço abaixo das imagens */
    margin-top: 5px; /* Margem entre a imagem e os pontinhos */
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: red;
}






